# resource_id: "7b632fa0-1b20-4788-8474-15d05c8a166e"
# resource_type: "document"
# resource_name: ".gitignore"
node_modules/
lib/
.tsbuildinfo

.env
.env.*
*.env
*.env.local
*.env.test
*.env.production
*.env.development
*.key
*.pem
*.p12
*.json.secret
GOOGLE_APPLICATION_CREDENTIALS.json
firebase-debug.log
firebase-debug.*.log
./service-account.json
**/service-account.json
**/*.credentials.json
.runtimeconfig.json
