node_modules/
lib/
.tsbuildinfo

.env
.env.*
*.env
*.env.local
*.env.test
*.env.production
*.env.development
*.key
*.pem
*.p12
*.json.secret
GOOGLE_APPLICATION_CREDENTIALS.json
firebase-debug.log
firebase-debug.*.log
./service-account.json
**/service-account.json
**/*.credentials.json
.runtimeconfig.json
